<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="pattHome" value='(\/beneficios\/detalle\/[0-9]*\/[0-9]*\/[a-z0-9_]*)'/>
    <add key="pattCanj" value='button\sid\=\"but_puntos\"'/>
    <add key="homeUrl" value='https://sorpresas.mastercard.com/ar'/>
    <add key="ignoreList" value="tratamientos,spas_en_buenos_aires" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>