<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="pattProduct" value='class\=\"history\-item\sproduct\ "\shref\=\"(?&lt;link&gt;//www.aliexpress.com.*)\"'/>
    <add key="pattID" value='qrdata\=\"[0-9]*\|(?&lt;id&gt;[0-9]*)\|[a-z0-9]*\"'/>
    <add key="pageIdxPattern" value="({{QUERY}})&amp;amp;page\=([0-9]*)"/>
    <add key="urlPaging" value='https://www.aliexpress.com/wholesale?initiative_id=SB_20181005181119&amp;site=glo&amp;SearchText={{QUERY}}&amp;page={{IDX}}' />
    <add key="urlShipping" value='https://freight.aliexpress.com/ajaxFreightCalculateService.htm?f=d&amp;productid={{ID}}&amp;count=1&amp;currencyCode=USD&amp;sendGoodsCountry=&amp;country=AR&amp;province=&amp;city=&amp;abVersion=1&amp;_={{RND}}'/>
    <add key="pattCount" value='\&gt;([,0-9]*)&lt;\/strong>\sResults' />
    <add key="searchResultUrl" value="https://www.aliexpress.com/wholesale?catId=0&amp;initiative_id=SB_{{TIMESTAMP}}&amp;SearchText={{QUERY}}"/>
    <add key="itemsPerPage" value="50" />
    <add key="pagesSleep" value="5000" />
    <add key="itemsSleep" value="1000" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />      
    </startup>
</configuration>